<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>C:\Users\Beatriz Ramirez\Desktop\publish\Picachos.Frontend.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PicachosEntidades" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Picachos.Backend.Negocio.EntidadesNegocio.PicachosEntidades, Picachos.Backend" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="picachosConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=picachos.mssql.somee.com;Initial Catalog=picachos;User ID=WSS_SQLLogin_2;Password=xptjjr7wba;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\picachosConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=picachos.mssql.somee.com;Initial Catalog=picachos;User ID=WSS_SQLLogin_2;Password=xptjjr7wba;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EntidadesPicachos" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=picachos.mssql.somee.com;Initial Catalog=picachos;User ID=WSS_SQLLogin_2;Password=xptjjr7wba;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EntidadesPicachos_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Negocio.EntidadesNegocio.PicachosBD.csdl|res://*/Negocio.EntidadesNegocio.PicachosBD.ssdl|res://*/Negocio.EntidadesNegocio.PicachosBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=picachos.mssql.somee.com;initial catalog=picachos;user id=WSS_SQLLogin_2;password=xptjjr7wba;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PicachosEntidades-Web.config Connection String" />
  </ItemGroup>
</Project>