<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      

      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
<connectionStrings>
  
  <!--add name="EntidadesPicachos" connectionString="metadata=res://*/Negocio.EntidadesNegocio.PicachosBD.csdl|res://*/Negocio.EntidadesNegocio.PicachosBD.ssdl|res://*/Negocio.EntidadesNegocio.PicachosBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=picachos.mssql.somee.com;initial catalog=picachos;user id=WSS_SQLLogin_2;password=xptjjr7wba;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="PicachosEntidades" connectionString="metadata=res://*/Negocio.EntidadesNegocio.PicachosBD.csdl|res://*/Negocio.EntidadesNegocio.PicachosBD.ssdl|res://*/Negocio.EntidadesNegocio.PicachosBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=picachos.mssql.somee.com;initial catalog=picachos;user id=WSS_SQLLogin_2;password=xptjjr7wba;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" /-->
  <add name="PicachosEntidades" connectionString="metadata=res://*/Negocio.EntidadesNegocio.PicachosBD.csdl|res://*/Negocio.EntidadesNegocio.PicachosBD.ssdl|res://*/Negocio.EntidadesNegocio.PicachosBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=picachos.mssql.somee.com;initial catalog=picachos;persist security info=True;user id=WSS_SQLLogin_2;password=xptjjr7wba;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
<add name="picachosConnectionString" connectionString="Data Source=picachos.mssql.somee.com;Initial Catalog=picachos;User ID=WSS_SQLLogin_2;Password=xptjjr7wba;MultipleActiveResultSets=True;Application Name=EntityFramework"
        providerName="System.Data.SqlClient" />
</connectionStrings>

</configuration>

