* {
    margin:0;
    padding:0;   
    box-sizing:border-box;
    font-family:Cambria; 
}

.sectImg{
    position: absolute;
    width: 54%;
    height: 65%; 
    top: 30%; 
    left: 28%;
}


.imgFondo{
    position:absolute;
    width:60%;
    height:65%;
    top:30%;
    left:24%;
}

vgridClientes {
    width:40%;
    height:30%;
}

#sectContene{
    position:absolute;
    width:58.6%;
    height:50%; 
    top:43%;
    margin-top:auto;
    right:16.8%;
    box-sizing:border-box;
    overflow:scroll;
   
}


.tfHTabC{
   background-color:#10023e;
   text-align:center;
   color:white;
   padding-left:5px;
   padding-right:5px;
   border:2px #10023e solid; 
}

.tfHTabCNombre{
   background-color:#10023e;
   text-align:center;
   color:white;
   padding-left:5px;
   padding-right:5px;
   border:2px #10023e solid;
   width:20%; 
}

.tfBTabC{
   background-color:white;
   color:#10023e;
   padding-left:5px;
   padding-right:5px;
   border:2px #10023e solid;
   
}




.cfEditar{
     background-color:#10023e;

     color:white;
     padding-left:5px;
     padding-right:5px;
}

.btnBorrar{
     background-color:#10023e;
     color:white;
     padding-left:5px;
     padding-right:5px;
}

