@import url('https://fonts.googleapis.com/css?family=Concert+One');

@import url('https://fonts.googleapis.com/css?family=Inder');
* {
    margin:0;
    padding:0;   
    box-sizing:border-box;
    font-family: 'Inder', sans-serif;
}

.sectImgFondo {
    position: absolute;
    width: 54%;
    height: 65%; 
    top: 30%; 
    left: 28%;  
}

.imgFondoRegPT {
    position: absolute;
    width: 107%;
    height: 100%;
    top: -21px;
    left: 13px;
}

.sectContenedor{
    position:absolute;
    width:58%;
    height:58%;
    top:37%;
    margin-top:auto;
    left:29%;   
}

.btnUnitario {
    position:absolute;
    top: 13%;
    left: 50%;
    font-size: 17px;
    border-radius:5px;
    background-color:#10023e;
    color:white;
    border:none;
    width:110px;
}

.btnEmpaquetado {
    position:absolute;
    top: 13%;
    left: 67%;
    font-size: 17px;
    border-radius:5px;
    background-color:#10023e;
    color:white;
    border:none;
    padding-left:3px;
    padding-right:3px;
}

.labNombrePT{
    position:absolute;
    top: 6%;
    left: 5%;
    font-size: 17px;
    color: #34236d; 
}

.txbNombrePT {
      position:absolute;
      top:14%;
      left:5%;     
      font-size:17px;
      width: 37%;
      height:8%;
      background-color:transparent;
      border:none;
      border-bottom:1px solid  #34236d; 
      color: #34236d;
}

.reqFVNombrePT{
    position:absolute;
    top:20%;
    left:5%;     
    font-size:17px;
    color:red;
}

.labDesc {
    position:absolute;
    top:35%;
    left:5%;
    font-size:17px;
    color:#34236d;
}

.txbDesc {
    position: absolute;
    top: 43%;
    left: 5%;
    width:37%;
    height:33%;
    padding:0;
    font-size:17px;
    border:1px solid  #34236d;
    border-radius:5px;
    background-color:transparent;
    color: #34236d;
} 

.reqFVDesc {
    position:absolute;
    top:82%;
    left:5%; 
    font-size:17px;
    color:red;   
}

.labTipoProducto {
    position:absolute;
    top: 6%;
    left: 55%;
    font-size: 17px;
    color: #34236d;
}



.ddlRegRegPT {
    position: absolute;
    top: 22%;
    left: 50%;
    width:32%;
    height:10%;
    padding:0;
    font-size:17px;
    background-color:rgba(255,255,255,0.7);
    border:1px solid  #34236d;
    border-radius:5px;
}

.btnAgregarUnitario{
     font-size: 15px;
     position:absolute;
     top:33%;
     left:50%;
     background-color:transparent;
     color:#10023e;
     width:32%;
     border:1px solid #10023e;
     border-radius:5px;
     height:2rem;
     letter-spacing:4px;
}
.btnAgregarEmpaquetado{
     font-size: 15px;
     position:absolute;
     top:33%;
     left:50%;
     background-color:transparent;
     color:#10023e;
     width:32%;
     border:1px solid #10023e;
     border-radius:5px;
     height:2rem;
     letter-spacing:4px;
}

.txbSelecUno {
    position:absolute;
    top: 43%;
    width:8rem;
    left: 47%;
    font-size: 17px;
    color: #34236d; 
    border:none; 
    background-color:transparent;
}

.btnSelecUno {
     border-style: none;
    border-color: inherit;
    border-width: medium;
    position:absolute;
     top:42%;
     left:80%;
     font-size:20px;
     background-color:transparent;
     color:#10023e;
     width:27px;
     border-radius:2px;
     font-family: 'Concert One', cursive;
     font-weight:600;
    height: 24px;
}

.txbSelecDos {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    position:absolute;
    top: 55%;
    width:148px;
    left: 48%;
    font-size: 17px;
    color: #34236d; 
    background-color:transparent;
}

.btnSelecDos {
     border-style: none;
    border-color: inherit;
    border-width: medium;
    position:absolute;
     top:50%;
     left:80%;
     font-size:20px;
     background-color:transparent;
     color:#10023e;
     width:5%;
     border-radius:2px;
     font-family: 'Concert One', cursive;
     font-weight:600;
}

.txbSelecTres {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    position:absolute;
    top: 69%;
    width:166px;
    left: 48%;
    font-size: 17px;
    color: #34236d; 
    background-color:transparent;
}

.btnSelecTres {
     border-style: none;
    border-color: inherit;
    border-width: medium;
    position:absolute;
     top:66%;
     left:76%;
     font-size:20px;
     background-color:transparent;
     color:#10023e;
     width:13%;
     border-radius:2px;
     font-family: 'Concert One', cursive;
     font-weight:600;
    height: 29px;
}

.txbSelecCuatro {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    position:absolute;
    top: 56%;
    width:8rem;
    left: 48%;
    font-size: 17px;
    color: #34236d; 
    background-color:transparent;
}

.btnSelecCuatro {
     border-style: none;
    border-color: inherit;
    border-width: medium;
    position:absolute;
     top:49%;
     left:83%;
     font-size:20px;
     background-color:transparent;
     color:#10023e;
     width:7%;
     border-radius:2px;
     font-family: 'Concert One', cursive;
     font-weight:600;
    height: 42px;
}


.txbSelecEmp {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    position:absolute;
    top: 43%;
    width:8rem;
    left: 50%;
    font-size: 17px;
    color: #34236d; 
    background-color:transparent;
    height: 18px;
}

.btnSelecEmp {
     position:absolute;
     top:43%;
     left:71%;
     font-size:20px;
     background-color:transparent;
     color:#10023e;
     width:2%;
     border:none;
     border-radius:2px;
     font-family: 'Concert One', cursive;
     font-weight:600;
}


.labDesc {
     position:absolute;
      top:36%;
      left:5%;
      font-size:17px;
      color:#34236d;
   
}



.labCantidad {
     position:absolute;
     top:84%;
     left:6%;
     font-size:17px;
     color:#34236d;
}

.txbCant {
     position:absolute;
      top:81%;
      left:22%;
      font-size:17px;
      color:#34236d;
      width:15%;
      height:10%;  
}


.btnLimpiar{
     position:absolute;
     top:83%;
     left:67%;
     height:2rem;
     background-color:transparent;
     color:#10023e;
     width:13%;
     font-size:16px;
     border:1px solid #10023e;
     border-radius:5px;
     font-weight:500;
} 

.btnGuardarUnitario{
     border-style: none;
    border-color: inherit;
    border-width: medium;
    position:absolute;
     top:83%;
     left:83%;
     height:26px;
     background-color:#10023e;
     color:white;
     width:14%;
     font-size:16px;
     border-radius:5px;
     font-weight:500;
}
.btnGuardarEmpaquetado{
     border-style: none;
    border-color: inherit;
    border-width: medium;
    position:absolute;
     top:83%;
     left:83%;
     height:26px;
     background-color:#10023e;
     color:white;
     width:14%;
     font-size:16px;
     border-radius:5px;
     font-weight:500;
}

